# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entornos virtuales
.venv/
venv/
env/

# Logs
logs/
*.log

# Archivos subidos
uploads/*
!uploads/.gitkeep

# Archivos temporales de Office
~$*.xlsx

# Sistema operativo
.DS_Store
Thumbs.db

# Editores
.vscode/
